@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

body
{
    background: #000;
    min-height: 1500px;
}
header
{
    top: 50;
    left: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    z-index: inherit;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-style: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header nav
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav li
{
    list-style: none;
    margin-left: 20px;
}
header nav li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
}
header nav li a:hover
{
    background: #fff;
    color: #000;
    border-radius: 20px;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #000, transparent);
    z-index: 10000;
}
section:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    mix-blend-mode: color;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img man
{
    width: 50%;
}
#text
{
    position: relative;
    color: #fff;
    font-size: 13em;
    z-index: 1;
    font-family: 'Poppins', sans-serif;

}
.text,
.text::after {
	animation-delay: var(--animation-delay, 4s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 5000ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.text {
	--animation-delay: var(--delay, 20);
	--animation-duration: var(--duration, 1000000ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	animation-name: clip-text;
	color: #FFF;
	white-space: nowrap;
}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}
	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}
#land
{
    z-index: 2;
}

@media (max-width: 360px) {
    #text{
      font-size: 3.8em;
      margin-bottom: 200px;
    }
    section{
      height: 80vh;
    }
    img#moon{
      height: auto;
      width: 400px;
    }
  }


section p
{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
